* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Noto Sans KR', sans-serif; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #5D8AA9;
}

canvas {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.icon {
  background-image: url('../assets/android-chrome-192x192.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  display: inline-block;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

h1 {
  color: #fff;
  font-size: 2.5rem;
  animation: titleFadeIn 1s ease-in-out forwards;
  opacity: 0;
  margin-bottom: 12px;
}

p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  animation: textFadeIn 3s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

nav > a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  opacity: 0.5;
}

nav > a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

footer > a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  opacity: 0.5;
}

footer > a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer > a > i {
  margin-right: 5px;
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .75;
  }
}